.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.innerContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pageOuterContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-top: 40px;
    gap: 40px;
    margin-bottom: 40px;
}

@media (max-width: 605px) {
    .pageOuterContainer {
        flex-direction: column !important;
    }
}

.pageContainer {
    background: #FFFFFF;
    border-radius: 16px;
    filter: drop-shadow(0px 8px 8px rgba(38, 50, 56, 0.12)) drop-shadow(0px 16px 24px rgba(38, 50, 56, 0.08));
    max-width: 400px;
    flex-grow: 1;
    display: flex;
    padding: 30px;
    flex-direction: column;
    min-width: 300px;
}

.pageContainerText1 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #6C5CE7;
}

.pageContainerText2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 56px;
    display: flex;
    align-items: center;
    letter-spacing: -1px;
    color: #2D3436;
}

@media (max-width: 605px) {
    .pageContainerText2 {
        font-size: 30px !important;
    }
}

.pageContainerText3 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: rgba(45, 52, 54, 0.8);
}

.bulletPointContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.bulletPoint {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.primaryBtn {
    composes: primaryBtn from '/src/globalStyles.css';
    width: 100%;
    background: white;
    color: #6C5CE7;
}

.primaryTrainerBtn {
    composes: primaryBtn from '/src/globalStyles.css';
    width: 100%;
    margin-top: 20px;
    color: 
}
.secondaryBtn {
    composes: primaryBtn from '/src/globalStyles.css';
    width: 100%;
    background: white;
    color: #6C5CE7;
    padding-bottom: 0;
}

/*CNA Facilities Title */
.titleContainer {
    margin-top:50px;
    width: 100%;
}

.greenPillContainer {
    z-index: -1;
    position: relative;
    width: 191px;
    height: 51px;
    left: calc(50% - 191px / 2 - 208px);
}

.greenPill {
    position: relative;
    left: 10px;
    right: 0;
    top: -45px;
    height: 50px;
    bottom: 25px;
    background: #55EFC4;
    border-radius: 999px;
}

@media (max-width: 605px) {
    .greenPillContainer {
        visibility: hidden !important;
    }
}

.titleTextContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 96px;
    line-height: 104px;
    text-align: center;
    letter-spacing: -3px;
    text-shadow: 0 4px 0 #FFFFFF;
}

@media (max-width: 605px) {
    .title {
        font-size: 50px !important;
    }
}

.subtitle {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 58px;
    line-height: 77px;
    text-align: center;
    letter-spacing: -3px;
    text-shadow: 0 4px 0 #FFFFFF;
}

@media (max-width: 605px) {
    .subtitle {
        font-size: 30px !important;
    }
}

@media (max-width: 605px) {
    .rectangleSVG {
        visibility: hidden !important;
    }
}

.rectangleSVG {
    position: absolute;
    top: 0px;
    right: 0;
    z-index: -2;
}

@media (max-width: 605px) {
    .dotsSVG {
        visibility: hidden !important;
    }
}

.dotsSVG {
    position: absolute;
    top: 100px;
    right: 0;
    z-index: -1;
}

@media (max-width: 605px) {
    .wave {
        visibility: hidden !important;
    }
}

.wave {
    margin-top: auto;
    width: 100%;
    z-index: -1;
}
