.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.innerContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.listView {
    width: 410px;
    overflow-y: scroll;
}

.mapView {
    height: 100%;
    flex-grow: 1;
}

/*on small screen make list view take up entire space*/
@media (max-width: 500px) {
    .listView {
        width: 100% !important;
        flex-grow: 1 !important;
    }
    .mapView {
        flex-grow: 0 !important;
        width: 0 !important;
        visibility: hidden !important;
        display: none !important;
        overflow: hidden !important;
    }
}
