.container {
    height: 70px;
    filter: drop-shadow(0px 2px 4px rgba(38, 50, 56, 0.16)) drop-shadow(0px 4px 8px rgba(38, 50, 56, 0.08));
    background: #FFFFFF;
    display: flex;
    z-index: 999 !important;
}

.navbarInnerContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
}

/* used to style secret cocktail logo on the navbar */
.navbarLogo {
    max-height: 100%;
    height: 70px;
    width: auto;
}

@media (max-width: 740px) {
    .navbarTitleText {
        visibility: hidden;
        width: 1px;
    }
}

/* styles the title text - e.g. The Secret Cocktail */
.navbarTitleText {
    font-size: 36px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    display: flex;
    align-items: center;
    letter-spacing: -1px;
    color: #455154;
    padding: 10px;
}

.navbarBtnsContainer {
    margin-left: auto;
    display: flex;
    align-items: center;
}

/* converts mouse to pointer on hover */
.btnSecondary:hover {
    cursor: pointer;
}

/* shows that button is being clicked */
.btnSecondary:active {
    filter: brightness(80%);
}

@media (max-width: 740px) {
    .btnSecondary {
        width: 100px !important;
    }
}
/* creates an ellipse-shaped button with white backgroudm and purple font - e.g. used for login button  */
.btnSecondary {
    width: 150px;
    height: 45px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.25px;
    color: #6C5CE7;
    text-shadow: 0 4px 8px rgba(38, 50, 56, 0.08);
    box-sizing: border-box;
    border: 1px solid #6C5CE7;
    border-radius: 999px;
    background: white;
}

@media (max-width: 740px) {
    .btnPrimary {
        width: 150px !important;
    }
}

/* converts mouse to pointer on hover */
.btnPrimary:hover {
    cursor: pointer;
}

/* shows that button is being clicked */
.btnPrimary:active {
    filter: brightness(80%);
}
/* creates an ellipse-shaped button with purple background and white font - e.g. used for logout and sign up  */
.btnPrimary {
    margin-left: 10px;
    width: 150px;
    height: 45px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.25px;
    color: white;
    text-shadow: 0 4px 8px rgba(38, 50, 56, 0.08);
    box-sizing: border-box;
    border: 1px solid #6C5CE7;
    border-radius: 999px;
    background: #6C5CE7;
}
